html, body 
{
    margin: 0;
}

.MainHeader{
    position: fixed;
    display: grid;

    top: 0;

    grid-template-columns: 8.5vh 10vh 1fr 18vh 3px 18vh 60px;
    grid-template-rows: 1fr;
    height: 9.5vh;

    background-color: rgb(211, 152, 93);

    border: 0px;
    
    padding: 0px;
    margin: 0px;   

    width: 100%;
    max-width: 100%;

    z-index: 500;

    user-select: none;
}

.MenuIcon{
    width: 5vh;
    height: 5vh;

    align-self: center;
    justify-self: center;
}

.MenuButton{
    display: grid;
    grid-column: 1;
   
    align-self: center;

    width: 9.5vh;
    height: 9.5vh;

    background-color: transparent;

    border-width: 0;

    cursor: pointer;
}

.MenuSideBar{
    position: fixed;
    display: none;
    flex-direction: column;
    float: left;
    top: 0;

    width: 15%;
    height: 100%;
    background-color: white;

    align-self: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5vh;
    font-weight: 550;

    z-index: 666;

    user-select: none;
}

.CloseSection{
    padding-left: 2vh;
    padding-right: 1vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;

    background-color: rgb(255, 40, 40);

    cursor: pointer;
}

.CloseSection:hover{
    background-color: rgb(190, 35, 35);
}

.CloseButton{
    border-width: 0;

    background-color: transparent;

    cursor: pointer;
}

.SelectedSection{
    padding-left: 2vh;
    padding-right: 1vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;

    background-color: rgb(122, 255, 81);

    cursor: pointer;
}

.SelectedSection:hover{
    background-color: rgb(112, 194, 75);
}

.NotSelectedSection{
    padding-left: 2vh;
    padding-right: 1vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;

    background-color: rgb(255, 255, 255);

    cursor: pointer;
}

.NotSelectedSection:hover{
    background-color: rgb(220, 220, 220);
}

.CloseIcon{
    width: 2.5vh;
    height: 2.5vh;

    align-self: center;
    justify-self: center;
}

.MenuButton:hover{
    background-color: rgba(0, 0, 0, 0.13);
}

.MainPageContent{
    display: grid;
    grid-template-columns: 9vh 1fr 50vh;
    grid-template-rows: 1fr;

    width: 100%;
    max-width: 100%;

    overflow: hidden;
}

.MainContentSection{   
    grid-column: 2;  

    background-color: transparent;

    max-width: 100%;
    width: 100%;

    margin-top: 1vh;

    height: auto;
}

.ExhibitionSection{
    display: inline-block;

    column-width: 42vh;
    column-count: 3;
    column-gap: 2vh;
    
    background-color: beige;

    padding: 2.5%;

    border-color: rgb(224, 219, 201);
    border-width: 1vh;
    border-style: solid;

    margin-bottom: 1vh;
    margin-right: 1vh;
}

.ExhibitionSectionImage{  
    float: right;
    vertical-align: top;

    margin-right: 0vh;

    border-style: solid;
    border-color: black;
    border-width: 0.5vh;

    margin: 1vh;

    max-width: 95%;
    max-height: auto; 
    
    width: 95%;
    height: auto;
}

.ExhibitionSectionLabel{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5vh;
    font-weight: 550;
    
    margin-top: 0;
    margin-bottom: 0.8vh;

    margin-left: 0;
    margin-right: 0;
}

.ExhibitionSectionMainText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8vh;
    font-weight: 550;
}

.SideContentSection{
    display: inline-block;
    grid-column: 3;

    justify-content: center;

    width: 100%;
    max-width: 100%;

    background-color: rgb(235, 235, 210);
}

.Calendar{
    display: inline-block;
    list-style-type: none;

    justify-self: center;

    margin-top: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;

    text-align: center;

    max-width: 100%;

    background-color: rgb(27, 27, 27);

    border-width: 0.3vh;
    border-color: black;
    border-style: solid;

    height: fit-content;

    user-select: none;
}

.Weekdays{
    background-color: rgb(27, 27, 27);

    height: 6.5vh;   

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vh;
    font-weight: 550;
    color: white;

    text-decoration: underline;
}

.WeekDayS{
    border-color: white;
    border-width: 0.25vh;
    border-style: solid;
}

.Days{
    height: 6.5vh;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vh;
    font-weight: 550;
    color: white;
}

.Day{
    background-color: black;
}

.Day:hover{
    background-color: rgb(15, 15, 15);
}

.NextMonthDay{
    background-color: rgb(16, 16, 16);
}

.NextMonthDay:hover{
    background-color: rgb(26, 26, 26);
}

.EventDay{
    background-color: rgb(70, 179, 43);
}

.EventDay:hover{
    background-color: rgb(63, 223, 46);
}

.NextMonthDayEvent{
    background-color: rgb(114, 174, 99);
}

.NextMonthDayEvent:hover{
    background-color: rgb(128, 195, 111);
}

.CurrentDay{
    border-color: rgb(149, 174, 255);
    border-width: 0.25vh;
    border-style: solid;

    text-decoration: underline;
}

.EventList{
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 1.8vh;
    margin-bottom: 4vh;

    padding: 1vh;

    max-width: 100%;

    border-color: black;
    border-width: 0.3vh;
    border-style: solid;

    background-color: rgb(139, 111, 57);
}

.SingleEvent{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3.5vh 3.5vh 1fr;

    background-color: rgb(174, 145, 69);

    padding: 2vh;   

    margin-bottom: 0.8vh;
}

.LastSingleEvent{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3.5vh 3.5vh 1fr;

    background-color: rgb(174, 145, 69);

    padding: 2vh; 
}

.EventDateText{
    grid-column: 1; 
    grid-row: 1;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    font-weight: 700;
}

.EventTitle{
    grid-column: 1 / 3; 
    grid-row: 2;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.7vh;
    font-weight: 550;
}

.EventTheme{
    grid-column: 2; 
    grid-row: 1;

    margin-top: 0.3vh;

    text-align: right;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vh;
    font-weight: 550;
    color: rgb(38, 0, 0);
}

.EventMainText{
    grid-column: 1 / 3; 
    grid-row: 3;

    margin-left: 0.8vh;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8vh;
    font-weight: 550;
}

.LoginButton{
    display: grid;
    grid-column: 6;

    background-color: transparent;
    border-color: transparent;
    border-style: solid;
    border-width: 0.32vh;

    align-self: center;
    
    height: 6vh;

    margin-right: auto;
    margin-left: 6px;
    padding: 1vh;

    font-size: 3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    color: black;
    text-align: center;

    cursor: pointer;
}

.LoginButton:hover{
    border-color: black;
}

.LoginButton:active{
    background-color: rgba(0, 0, 0, 0.06);
    border-color: rgb(48, 48, 48);
}

.RegisterButton{
    display: grid;
    grid-column: 4;

    background-color: transparent;
    border-color: transparent;
    border-style: solid;
    border-width: 0.32vh;

    align-self: center;

    height: 6vh;
    
    margin-left: auto;
    margin-right: 6px;
    padding: 1vh;

    font-size: 3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

    cursor: pointer;
}

.RegisterButton:hover{
    border-color: black;
}

.RegisterButton:active{
    background-color: rgba(0, 0, 0, 0.06);
    border-color: rgb(48, 48, 48);
}

.VerticalBreak {
    display: grid;
    grid-column: 5;

    align-items: center;

    width: 0.1vh;

    border-radius: 50%;
    border-color: rgb(21, 21, 21);

    border-width: 0.15vh;

    background-color: rgb(21, 21, 21);

    margin-top: 1.8vh;    
    margin-bottom: 1.8vh;
    margin-left: auto;
    margin-right: auto;
}

.LogoText{
    display: grid;
    grid-column: 3;

    align-self: center;

    font-size: 6.5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-weight: 550;

    margin-top: 0.2vh;
    margin-left: 0.9vh;
}

.Logo{
    display: grid;
    grid-column: 2;

    align-self: center;

    width: 7vh;
    height: 7vh;

    margin-bottom: 0.4vh;
    margin-left: 2.9vh;

    background-image: url("images/logo.svg");
    background-position: center;
    background-size: contain;
}

.NewsUpperSection{
    display: flex;
    background-color: rgb(255, 241, 147);

    height: 4vh;

    margin-top: 9.5vh;
}

.NewsUpperSectionText{
    margin-left: 2.5vh;
    margin-top: 0;
    margin-bottom: 0;

    align-self: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2vh;
    font-weight: 550;
}

.MainFooter{
    width: 100%;

    display: flex;
    flex-direction: row;

    justify-content: center;

    background-color: rgb(145, 115, 72);
}

.FooterLine{
    width: 0.1vh;

    border-radius: 50%;
    border-color: rgb(21, 21, 21);

    border-width: 0.1vh;

    background-color: rgb(21, 21, 21);

    margin-top: 3vh;    
    margin-bottom: 3vh;
}

.FooterContactInfoSection{
    display: flex;
    flex-direction: column; 

    width: 40vh;

    padding-top: 5vh;
    padding-bottom: 5vh;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    font-weight: 700;

    text-align: left;
}

.FooterContactInfoTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    font-weight: 700;

    text-align: center;

    margin-top: 0;
    margin-bottom: 0.3vh;
    margin-right: 0;
    margin-left: 0;
}

.FooterContactInfoMainText{
    margin-top: 0vh;
    margin-bottom: 0.5vh;
    margin-right: 0;
    margin-left: 5vh;
}

.FooterContactInfoLink{
    margin-top: 0vh;
    margin-bottom: 0.5vh;
    margin-right: 0;
    margin-left: 5vh;

    text-decoration: underline  ;
    color: white;
}

.FooterContactInfoLink:link{
    color: rgb(212, 212, 212);
}

.FooterContactInfoLink:visited{
    color: #bbcaca;
}

.FooterLocationDiv{
    display: grid;
    grid-template-columns: 2.5vh 1fr;

    margin-left: 8vh;
}

.FooterLocationLink{
    grid-column: 2;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    font-weight: 700;
    text-decoration: underline;

    margin-left: 0.2vh;

    color: white;
}

.FooterLocationLink:link{
    color: rgb(212, 212, 212);
}

.FooterLocationLink:visited{
    color: #bbcaca;
}

h1.FooterLocationText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    font-weight: 700;

    margin-left: 0.2vh;
    margin-top: 1.8vh;
}

.FooterLocationMainText{
    margin-top: 0vh;
    margin-bottom: 0.5vh;
    margin-right: 0;
    margin-left: 7vh;
}

.FooterLocationImage{
    grid-column: 1;
    width: 2.2vh;

    align-self: center;
    user-select: none;
}

.MainLoginSection{
    display: grid;

    grid-template-columns: 13vh 10vh 1fr 18vh 3px 18vh 60px;

    margin: 10.5vh;
}

.LoginForm{
    display: grid;

    grid-column: 2;

    padding: 2vh;

    width: 60vh;

    background-color: beige;

    border-color: rgb(224, 219, 201);
    border-width: 1vh;
    border-style: solid;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    font-weight: 700;

    user-select: none;
}

.LoginLabel{
    margin-left: 0.5vh;
    margin-bottom: 0.4vh;
}

.LoginField{
    width: 30vh;

    font-size: 1.5vh;
}

.LoginSubmitButton{
    width: 18vh;
    height: 4vh;

    margin-top: 1vh;

    border-width: 0.3vh;
    border-color: black;
    border-style: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vh;
    font-weight: 700;

    background-color: rgb(140, 255, 74);

    cursor: pointer;
}

.LoginSubmitButton:hover{
    border-style: solid;
}

.LoginButtonRegister{
    width: 18vh;
    height: 4vh;

    margin-top: 1vh;

    border-width: 0.3vh;
    border-color: black;
    border-style: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vh;
    font-weight: 700;

    background-color: rgb(206, 206, 206);

    cursor: pointer;
}

.LoginButtonRegister:hover{
    border-style: solid;
}

.BottomFooter{
    position: fixed;
    
    left: 0;
    bottom: 0;
}

.MainRegisterSection{
    display: grid;

    grid-template-columns: 9vh 1fr 100vh;

    margin: 10.5vh;
}

.RegisterSection{
    grid-column: 2;

    padding: 2vh;

    background-color: beige;

    border-color: rgb(224, 219, 201);
    border-width: 1vh;
    border-style: solid;
}

.RegisterForm{
    display: grid;  
    
    grid-template-columns: 1fr 1fr 0.7fr;
    grid-template-rows: 2.5vh 2.5vh 2.5vh 2.5vh 2.5vh 2.5vh 5vh 5vh; 

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    font-weight: 700;

    user-select: none;
}

.RegisterLabel{
    margin-left: 0.5vh;
    margin-bottom: 0.4vh;
}

.RegisterNameLabel{
    grid-column: 1;
    grid-row: 1;
}

.RegisterSurnameLabel{
    grid-column: 2;
    grid-row: 1;
}

.RegisterEmailLabel{
    grid-column: 1;
    grid-row: 3;
}

.RegisterPassLabel{
    grid-column: 1;
    grid-row: 5;
}

.RegisterConfPassLabel{
    grid-column: 2;
    grid-row: 5;
}

.RegisterField{
    font-size: 1.8vh;
}

.RegisterNameField{
    grid-column: 1;
    grid-row: 2;

    width: 94%;
}

.RegisterSurnameField{
    grid-column: 2;
    grid-row: 2;

    width: 94%;
}

.RegisterEmailField{
    grid-column: 1 / 3;
    grid-row: 4;

    width: 75%;
}

.RegisterPassField{
    grid-column: 1;
    grid-row: 6;

    width: 94%;
}

.RegisterConfPassField{
    grid-column: 2;
    grid-row: 6;

    width: 94%;
}

.RegisterSubmitButton{
    grid-column: 1;
    grid-row: 7;

    width: 18vh;
    height: 4vh;

    margin-top: 1vh;

    border-width: 0.3vh;
    border-color: black;
    border-style: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vh;
    font-weight: 700;

    background-color: rgb(140, 255, 74);

    cursor: pointer;
}

.RegisterSubmitButton:hover{
    border-style: solid;
}

.RegisterLoginButton{
    grid-column: 1;
    grid-row: 8;

    width: 18vh;
    height: 4vh;

    margin-top: 1vh;

    border-width: 0.3vh;
    border-color: black;
    border-style: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vh;
    font-weight: 700;

    background-color: rgb(206, 206, 206);

    cursor: pointer;
}

.RegisterLoginButton:hover{
    border-style: solid;
}

.MainSidePageContent{
    display: grid;  
    
    grid-template-columns: 9.5vh 1fr 35vh;
    grid-template-rows: 1fr;

    margin-top: 9.5vh;
}

.SidePageMainTextSection{
    grid-column: 2;

    margin-top: 1vh;
}

.SidePageMainTextPart{
    display: inline-block;

    column-width: 42vh;
    column-count: 3;
    column-gap: 2vh;
    
    background-color: beige;

    padding: 2.5%;

    border-color: rgb(224, 219, 201);
    border-width: 1vh;
    border-style: solid;

    margin-bottom: 1vh;
    margin-right: 1vh;
}

.SidePageMainTextMulPart{
    display: inline-block; 
    
    background-color: beige;

    padding: 2.5%;

    border-color: rgb(224, 219, 201);
    border-width: 1vh;
    border-style: solid;

    margin-bottom: 1vh;
    margin-right: 1vh;
}

.SidePageSubMain{
    column-width: 42vh;
    column-count: 3;
    column-gap: 2vh;
}

.SidePageSubMainNM{
    margin-top: 1.3vh;
}

.SidePageSubMainNO{
    margin-top: 2.8vh;
}

.SidePageSectionTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vh;
    font-weight: 550;
    
    margin-top: 0;
    margin-bottom: 0.8vh;

    margin-left: 0;
    margin-right: 0;
}

.SidePageAsideSection{
    position: relative;
    display: inline-block;

    grid-column: 3;
    grid-row: 1 / 3;

    background-color: beige;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.1vh;
    font-weight: 700;
}

.AsideListBack{
    background-color: rgb(226, 205, 145);

    margin: 2.5vh;

    padding: 1.2vh;

    width: fit-content;
}

.AsideList{
    list-style: none;

    background-color: rgb(255, 228, 178);

    margin: 0;

    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1vh;
    padding-left: 1vh;
}

.AsideSubList{
    list-style: none;
}

.ListNumText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.9vh;
    font-weight: 700;

    color: black;
}

.ListText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.9vh;
    font-weight: 700;

    color: rgb(25, 98, 255);

    cursor: pointer;
}

.ListText:hover{
    text-decoration: underline;
}

.SideMainTextSectionLabel{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5vh;
    font-weight: 550;
    
    margin-top: 0;
    margin-bottom: 0.8vh;

    margin-left: 0;
    margin-right: 0;
}

.SideMainTextSectionSubLabel{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.0vh;
    font-weight: 550;
    
    margin-top: 0;
    margin-bottom: 0.8vh;

    margin-left: 0;
    margin-right: 0;
}

.SideMainTextSectionMainText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8vh;
    font-weight: 550;
}

.SideMainTextImage{
    float: right;
    vertical-align: top;

    margin-right: 0vh;

    border-style: solid;
    border-color: black;
    border-width: 0.5vh;

    margin: 1vh;

    max-width: 95%;
    max-height: auto; 
    
    width: 95%;
    height: auto;
}

.SidePageGalleryPart{
    display: inline-block;

    grid-column: 2;
    
    background-color: beige;

    padding-bottom: 1vh;

    border-color: rgb(224, 219, 201);
    border-width: 1vh;
    border-style: solid;

    margin-bottom: 1vh;
    margin-right: 1vh;
}

.SidePageGalleryImageSection{
    display: inline-block;

    width: 46.65vh;

    background-color: rgb(109, 214, 109);

    margin-top: 1vh;
    margin-left: 1vh;

    padding: 2vh;

    border-style: solid;
    border-color: rgb(89, 173, 89);
    border-width: 2vh;
}

.SidePageGalleryImage{
    width: 44.5vh;

    margin-top: 0.5vh;
    margin-left: 0.5vh;

    border-style: solid;
    border-color: black;
    border-width: 0.5vh;
}

.SidePageGalleryTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.0vh;
    font-weight: 550;
    
    margin-top: 0;
    margin-bottom: 0.8vh;

    margin-left: 0;
    margin-right: 0;
}

.SidePageGalleryMainText{
    grid-row: 1;
    grid-column: 1;

    justify-self: center;

    width: 23vh;

    margin-left: 0.5vh;
    margin-right: 0.5vh;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.0vh;
    font-weight: 550;

    text-align: center;
}   

.SidePageSideGallery{
    position: relative;
    display: inline-block;

    grid-template-columns: 1fr;
    grid-template-rows: 2.5vh auto;

    margin-left: 2.5vh;
}

.SidePageSideGallerySection{
    display: grid;

    margin-bottom: 1vh;

    width: 25vh;

    border-style: solid;
    border-color: rgb(79, 188, 79);
    border-width: 1vh;

    background-color: rgb(117, 228, 117);
}

.SidePageSideGalleryImage{
    grid-row: 2;
    grid-column: 1;

    width: 22vh;

    margin-bottom: 1.2vh;

    justify-self: center;

    border-style: solid;
    border-color: black;
}