html, body 
{
    margin: 0;
}

.MainHeader{
    display: grid;

    grid-template-columns: 9.5vh 10vh 1fr 18vh 3px 18vh 60px;
    grid-template-rows: 1fr;
    height: 9.5vh;

    background-color: rgb(211, 152, 93);

    border: 0px;
    
    padding: 0px;
    margin: 0px;   

    z-index: 500;
}

.MenuIcon{
    width: 5vh;
    height: 5vh;

    align-self: center;
    justify-self: center;
}

.MenuButton{
    display: grid;
    grid-column: 1;
   
    align-self: center;

    width: 9.5vh;
    height: 9.5vh;

    background-color: transparent;

    border-width: 0;

    cursor: pointer;
}

.MenuSideBar{
    position: absolute;
    display: none;
    flex-direction: column;
    float: left;

    width: 15%;
    background-color: white;

    align-self: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5vh;
    font-weight: 550;

    z-index: 666;
}

.CloseSection{
    padding: 2vh;
}

.CloseButton{
    border-width: 0;

    background-color: transparent;

    cursor: pointer;
}

.CloseIcon{
    width: 2.5vh;
    height: 2.5vh;

    align-self: center;
    justify-self: center;
}

.MenuButton:hover{
    background-color: rgba(0, 0, 0, 0.13);
}

.LoginButton{
    display: grid;
    grid-column: 6;

    background-color: transparent;
    border-color: transparent;
    border-style: solid;
    border-width: 0.32vh;

    align-self: center;
    
    height: 6vh;

    margin-right: auto;
    margin-left: 6px;
    padding: 1vh;

    font-size: 3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    color: black;
    text-align: center;

    cursor: pointer;
}

.LoginButton:hover{
    border-color: black;
}

.LoginButton:active{
    background-color: rgba(0, 0, 0, 0.06);
    border-color: rgb(48, 48, 48);
}

.RegisterButton{
    display: grid;
    grid-column: 4;

    background-color: transparent;
    border-color: transparent;
    border-style: solid;
    border-width: 0.32vh;

    align-self: center;

    height: 6vh;
    
    margin-left: auto;
    margin-right: 6px;
    padding: 1vh;

    font-size: 3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

    cursor: pointer;
}

.RegisterButton:hover{
    border-color: black;
}

.RegisterButton:active{
    background-color: rgba(0, 0, 0, 0.06);
    border-color: rgb(48, 48, 48);
}

.VerticalBreak {
    display: grid;
    grid-column: 5;

    align-items: center;

    background-color:rgb(48, 48, 48);

    height: auto;
    width: 0.15vh;

    margin-top: 1.2vh;
    margin-bottom: 1.2vh;
    margin-left: auto;
    margin-right: auto;
}

.LogoText{
    display: grid;
    grid-column: 3;

    align-self: center;

    font-size: 6.5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-weight: 550;

    margin-top: 0.2vh;
    margin-left: 0.9vh;
}

.Logo{
    display: grid;
    grid-column: 2;

    align-self: center;

    width: 7vh;
    height: 7vh;

    margin-bottom: 0.4vh;
    margin-left: 2.9vh;

    background-image: url("images/logo.svg");
    background-position: center;
    background-size: contain;
}

.NewsUpperSection{
    display: flex;
    background-color: rgb(255, 241, 147);

    height: 4vh;

    
}

.NewsUpperSectionText{
    margin-left: 2.5vh;
    margin-top: 0;
    margin-bottom: 0;

    align-self: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2vh;
    font-weight: 550;
}